<a class="tarjeta-categoria" href="/{{ c.slug }}.html">
  <span class="tarjeta-categoria__foto">{% foto c.imagen, "", ancho or 250 %}</span>
  <span class="tarjeta-categoria__nombre">{{ c.nombre }}</span>
</a>
